body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #f2f2f2; */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden

}



.popupstyle {
  position: fixed;
  z-index:100;
  width: 90%;
  max-width: 400px;
  left: 0;
  /* background-color: #f2f2f2; */
  background-color: #cccccc;
  transition: bottom .5s linear;
  color: black;
  border-radius: 4px;
  box-shadow: 5px 5px 18px #888888;
  font-size: 17px;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: auto;

}

#popup1{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  background-color: #c3b3a2;
}

#popup1.show{
  bottom: 50px;
}

#popup2{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  background-color: #d3d2ff;
}

#popup2.show{
  bottom: 50px;
}

#popup3{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  background-color: #d3ddb3;
}

#popup3.show{
  bottom: 50px;
}

#popup4{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  background-color: #f8f8d0;
}

#popup4.show{
  bottom: 50px;
}

#popup5{
  bottom: -750px;
  height: auto;
  background-color: #c8e4cd;
}

#popup5.show{
  bottom: 50px;
}

#popup6{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  color: white;
  /* background-image: url("images/chain.jpg");
  background-size: 100%; */
}

#popup6.show{
  bottom: 50px;
}

#wrap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden
}

#content {
  height: 100%;
  width: auto;
  margin: 18px;
  padding-bottom: 60px ;
  overflow-x: hidden
}

#top {
  height: 50px;
  width: 100%;
  position: fixed;
  /* background-color: pink; */
  z-index:95;
  bottom: 0;
  background-color: white;
  box-shadow: 6px -20px 20px white;
  overflow-x: hidden
}



.image {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popimage {
  width: 100%;
  height: 100%;
}

img {
  height: auto;
  width: 85%;
}

h1 {
  font-size: 28px;
  padding-left: 30px;
}

p{

}

.text {
  font-size: 17px;
  text-indent: 30px;
  padding: 0;
  margin: 0;

}

.diary {
  font-size: 15px;
  padding: 20px;
}

.naam {
  font-size: 15px;
  text-indent: 30px;
}

.quote {
  font-size: 19px;
  font-style: italic;
  padding-left: 30px;
}

.image_cap {
  font-size: 15px;
  text-align: center;
  color: grey;
}

.gototop{
  font-size: 15px;
  text-align: right;
  margin-right: 5%;
  color: red;
}

.endnotes{
  font-size: 15px;
}

hr {
  width: auto;
  color: black;
}

a, a:hover, a:active, a:visited {
  font-size: 17px;
  font-weight: 500;
  color: black;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 16px;
  text-decoration: none;
  margin-left: 18px;
}
