body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #f2f2f2; */
  font-family: 'Roboto', sans-serif;

}



.popupstyle {
  position: fixed;
  z-index:100;
  width: 94%;
  max-width: 400px;
  left: 0;
  /* background-color: #f2f2f2; */
  background-color: #cccccc;
  transition: bottom .5s linear;
  color: black;
  font-size: 2em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 18px #888888;
  font-size: 17px;
  float: right;
  margin-left: 3%;
  margin-right: 3%;
  overflow-y: auto;
}

#popup1{
  bottom: -550px;
  max-height: 500px;
  height: auto;
}

#popup1.show{
  bottom: 15px;
}

#popup2{
  bottom: -550px;
  max-height: 500px;
  height: auto;
}

#popup2.show{
  bottom: 15px;
}

#popup3{
  bottom: -550px;
  max-height: 500px;
  height: auto;
  background-image: url("images/zweden1.jpg");
}

#popup3.show{
  bottom: 15px;
}

#popup4{
  bottom: -550px;
  max-height: 500px;
  height: auto;
}

#popup4.show{
  bottom: 15px;
}

#wrap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  width: auto;
  margin: 18px;
  padding: ;
}

#overlap {
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 320px;

}



#image {
  height: auto;
  width: 393px;
  text-align: ;
  margin-bottom: 7px;
  background-color: white;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
  box-shadow: 5px 10px 18px #888888;
  font-size: 28px;
}

img {
  height: auto;
  width: 393px;
  border-radius: 5px;
}

p {
  font-size: 19px;
}

h1 {
  font-size: 28px;
  padding-left: 20px;
}

.tussenkop {
  font-size: 13px;
  text-align: center;
}
